{{!< default}}

{{> header}}

<article itemscope itemtype="http://schema.org/BlogPosting" role="article" class="{{post_class}}">
	{{#post}}
		{{> post/post-header}}

		<div itemprop="articleBody">
			{{content}}
		</div>

		{{> post/social-buttons}}
		{{> post/author-desc}}
	{{/post}}
</article>

{{> footer}}