html {
  height: 100%;
}

body {
  min-height: 100%;
  color: $text;
  background: $light;
}

a {
  color: $blue;
  text-decoration: none;
}

h1 a {
  color: $text;
}

input,
textarea,
select,
input[type="submit"],
input[type="button"] {
  @include appearance(none);

  padding: 0;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  -webkit-appearance: none !important;
}

video {
  width: 100%;
  height: auto;
}

iframe,
embed,
object {
  width: 100%;
}

blockquote {
  font-style: italic;

  @include icon('before', true, 'quote') {
    position: absolute;
    margin-top: -.1em;
    margin-left: -1.1em;
    font-size: 1.8em;
  }

  cite {
    font-weight: bold;
  }

}

.home-template blockquote:before {
  display: none;
}

p code {
  padding: 0 .3em;
  background: #f5f2f0;
}

pre {
  border: 1px solid #eaeaea;
  border-radius: 3px;
}

.site {
  overflow: hidden;
}
