.post-meta {
  > .author-thumb-div {
    height: 2.85em;
    width: 2.85em;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
  }
}

.info-div {
  display: inline-block;
  vertical-align: top;
}

.home-template,
.archive-template {

  .quote-title {
    display: none;
  }

  .tag-format-tweet,
  .tag-format-quote {

    h2 {
      display: none;
    }

    .post-content {
      font-size: 1.4em;
      font-style: italic;
      margin-top: 2em;
    }

    p {
      margin-bottom: 0;
    }


    .post-meta,
    .post-continue,
    .read-more {
      display: none;
    }

  }

  .tag-format-tweet {
    @include icon('before', false, 'twitter') {
      background-color: $twitter;
    }
    background-color: tint($twitter, 90%);
  }

  .tag-format-link {
    @include icon('before', false, 'link') {
      background-color: $dark-blue;
    }
    background-color: tint($dark-blue, 90%);

  }

  .tag-format-quote {
    @include icon('before', false, 'quote') {
      background-color: $blue;
    }
    background-color: tint($blue, 90%);

    .quote-title {
      display: inline;
    }
  }

  .tag-format-link .post-meta {
    border-color: tint($dark-blue, 85%);

    .post-tags {
      display: none;
    }
  }
}