body {
  font-family: $body;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

p {
  @include rem(margin, 0, 0, 1.75, 0);

  color: #3a4145;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -moz-font-feature-settings: "liga=1, dlig=1, onum=1";
  -moz-font-feature-settings: "liga", "dlig", "onum";
  -ms-font-feature-settings: "liga", "dlig", "onum";
  -webkit-font-feature-settings: "liga", "dlig", "onum";
  -o-font-feature-settings: "liga", "dlig", "onum";
  font-feature-settings: "liga", "dlig", "onum";
}

h1,
.h1 {
  font-size: 2.6em;
}

h2,
.h2 {
  font-size: 2.3em;
}

h3,
.h3 {
  font-size: 1.15em;
}

h4,
h5,
h6 {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings;
  line-height: 1;
  text-transform: uppercase;
}

.post-content {
  h1, h2, h3, h4, h5, h6 {
    font-family: $body;
    text-transform: none;
  }

  h1 {
    font-size: 2.0em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.3em;
  }

  h4, h5, h6 {
    font-size: 1em;
  }
}
