@font-face{
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNext/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix');
  src: url('../fonts/AvenirNext/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix') format('eot'),
       url('../fonts/AvenirNext/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff') format('woff'),
       url('../fonts/AvenirNext/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf') format('truetype'),
       url('../fonts/AvenirNext/99affa9a-a5e9-4559-bd07-20cf0071852d.svg#99affa9a-a5e9-4559-bd07-20cf0071852d') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Sharp Sans Frontieres';
  src: url('../fonts/SharpSans/SharpSansFrontieres-Light.eot');
  src: url('../fonts/SharpSans/SharpSansFrontieres-Light.woff') format('woff'),
       url('../fonts/SharpSans/SharpSansFrontieres-Light.svg#font') format('svg');
  font-weight: 300;
}

$dark-blue: #223049;

body {
  background-color: $dark-blue;
  color: #fff;
  font-family: 'Avenir Next', 'Helvetica Neue', helvetica, arial, sans-serif;
}
